{% extends 'base.html.twig' %}


    {% block body %}
        <h1>Liste</h1>
        <ul>
            {% for personne in personnes %}
                <li>{{ personne.name }}</li>
                <a href="{{ path('app_detail_detail', {id: personne.id }) }}">Détail</a>
            {% endfor %}
        </ul>
    {% endblock %}

    {% block title %}

    {% endblock %}





