{% extends 'base.html.twig' %}

{% block body %}
<h1>bienvenu dans le back-office</h1>
    <h2>Liste des Utilisateurs</h2>
    <a href="{{ path('app_admin_list') }}">Gérer les Utilisateurs</a>

{% endblock %}

